<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Beer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/js/tagsinput.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/beer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/tagsinput.css">

</head>
<body>
<header th:insert="fragments :: navbar"></header>

<div class="container h-100 d-flex flex-column">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div th:if="${picture != null}" id="profile-picture">
                    <img th:src="@{'data:image/png;base64,' + ${picture}}" class="beer-image img-thumbnail"
                         alt="Image">
                </div>
                <div th:unless="${picture != null}" id="default-picture">
                    <img src="http://localhost:8080/images/beer_default_image.jpg" class="img-thumbnail"
                         alt="Image">
                </div>
            </div>
            <div class="row" sec:authorize="isAuthenticated()">
                <div class="col-md-12">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="wish_switch">
                        <label class="custom-control-label" for="wish_switch">Want to drink?</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="drank_switch">
                        <label class="custom-control-label" for="drank_switch">Drank?</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <input id="edit_beer" class="btn btn-primary edit-button" type="button" onclick="loadEditPage()" value="Edit"
                           sec:authorize="isAuthenticated()"/>
                    <button id="edit_beer_spin" class="btn btn-primary edit-button" type="button" disabled hidden>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Name: </p></div>
                <div class="col-md-10">
                    <p th:text="${beer.name}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>ABV: </p></div>
                <div class="col-md-10">
                    <p th:text="${beer.abv}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Style: </p></div>
                <div class="col-md-10">
                    <p th:text="${beer.style.name}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Brewery: </p></div>
                <div class="col-md-10">
                    <p th:text="${beer.brewery.name}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Country: </p></div>
                <div class="col-md-10">
                    <p th:text="${beer.country.name}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Average rating: </p></div>
                <div class="col-md-9">
                    <p th:text="${beer.avgRating}"></p>
                </div>
            </div>
            <div class="row" sec:authorize="isAuthenticated()">
                <div class="col-md-2"><p>Your rating: </p></div>
                <div class="col-md-6" id="user-rating"></div>
                <div class="col-md-4"><p id="rating_success"></p></div>
            </div>
            <div class="row">
                <div class="col-md-2"><p>Tags:</p></div>
                <div class="col-md-10">
                    <form>
                        <select data-role="tagsinput" multiple data-live-search="true" name="tags-select"
                                sec:authorize="isAnonymous()" disabled>
                            <option th:each="tag : ${tags}" th:if="${beer.getTagNames().contains(tag.name)}"
                                    th:value="${tag.name}" th:text="${tag.name}"></option>
                        </select>
                        <select data-role="tagsinput" multiple data-live-search="true" name="tags-select" id="tags_select"
                                sec:authorize="isAuthenticated()">
                            <option th:each="tag : ${tags}" th:if="${beer.getTagNames().contains(tag.name)}"
                                    th:value="${tag.name}" th:text="${tag.name}"></option>
                        </select>
                        <br><br>
                        <input id="tags_submit" class="btn btn-primary update-tags-button" type="button" onclick="updateTags()" value="Update Tags"
                               sec:authorize="isAuthenticated()"/>
                        <button id="tags_submit_spin" class="btn btn-primary update-tags-button" type="button" disabled hidden>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p id="description">Description:</p>
        <div class="col-md-12">
            <p th:text="${beer.description}">Beer Description</p>
        </div>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/

    let beerAvgRating =  /*[[${beer.avgRating}]]*/ 'default';
    let beerId = /*[[${beer.id}]]*/ 'default';
    let beerTagsList = /*[[${beer.tags}]]*/ 'default';
    let fullTagsList = /*[[${tags}]]*/ 'default';
    let username = /*[[${#authentication.name}]]*/ 'default';

    /*]]>*/
</script>
<script>
    let userIdGlobal;
</script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
<script src="/js/beer.js" type="text/javascript"></script>

</body>
</html>