<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Beer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/beerEdit.css">
</head>
<body>
<header th:insert="fragments :: navbar"></header>

<div class="container h-100 d-flex flex-column">
    <div class="row">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 text-center img-container">
                        <div th:if="${picture != null}" id="beer-picture">
                            <img th:src="@{'data:image/png;base64,' + ${picture}}" class="beer-image img-thumbnail"
                                 alt="Image">
                        </div>
                        <div th:unless="${picture != null}" id="default-picture">
                            <img src="/images/beer_default_image.jpg" class="beer-image img-thumbnail"
                                 alt="Image">
                        </div>
                        <div class="upload-content">
                            <div class="single-upload">
                                <form id="singleUploadForm" name="singleUploadForm">
                                    <input id="singleFileUploadInput" type="file" name="file" class="file-input"
                                           required/>
                                    <button type="submit" class="primary submit-btn">Submit Image</button>
                                </form>
                                <div class="upload-response">
                                    <div id="singleFileUploadError"></div>
                                    <div id="singleFileUploadSuccess"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <form id="beerUpdateForm" name="beerUpdateForm">
                    <div class="row">
                        <div class="col-md-2"><p>Name: </p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="beer_name"
                                       title="Enter new name if you want to change it"
                                       th:placeholder="${beer.name}" th:value="${beer.name}"
                                       name="beerName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><p>ABV: </p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" step=".1" class="form-control" id="beer_abv"
                                       title="Enter new ABV if you want to change it"
                                       th:placeholder="${beer.abv}" th:value="${beer.abv}"
                                       name="beerAbv">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><p>Style: </p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="selectpicker" data-live-search="true" name="style" id="style">
                                    <option value="">Select style</option>
                                    <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}"
                                            th:selected="${style.name} == ${beer.style.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><p>Brewery: </p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="selectpicker" data-live-search="true" name="brewery" id="brewery">
                                    <option value="">Select brewery</option>
                                    <option th:each="brewery : ${breweries}" th:value="${brewery.id}"
                                            th:text="${brewery.name}"
                                            th:selected="${brewery.name} == ${beer.brewery.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><p>Country: </p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="selectpicker" data-live-search="true" name="country" id="country">
                                    <option value="">Select country</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}"
                                            th:text="${country.name}"
                                            th:selected="${country.name} == ${beer.country.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p id="description">Description:</p>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="description_text" rows="10"
                                          th:text="${beer.description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-lg btn-dark page-button" type="button" id="deleteBtn" onclick="deleteBeer()">
                                    Delete
                                </button>
                                <button id="delete_beer_spin" class="btn btn-dark page-button" type="button" disabled hidden>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>

                                <button id="update_beer" class="btn btn-lg btn-success page-button" type="submit">
                                    <i class="glyphicon glyphicon-ok-sign"></i> Update
                                </button>
                                <button id="update_beer_spin" class="btn btn-success page-button" type="button" disabled hidden>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>

                                <button class="btn btn-lg btn-success page-button" type="reset" id="main_reset">
                                    <i class="glyphicon glyphicon-repeat"></i> Reset
                                </button>
                                <p id="update_error"></p>
                                <p id="update_success"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/

    let tags = /*[[${beer.getTagNames()}]]*/ 'default';
    let beerId = /*[[${beer.id}]]*/ 'default';
    let countryId = /*[[${beer.country.id}]]*/ 'default';
    let styleId = /*[[${beer.style.id}]]*/ 'default';
    let breweryId = /*[[${beer.brewery.id}]]*/ 'default';
    let username = /*[[${#authentication.name}]]*/ 'default';

    /*]]>*/
</script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
<script src="/js/beerEdit.js" type="text/javascript"></script>
</body>
</html>