<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Beer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/beerEdit.css">
</head>
<body>
<header th:insert="fragments :: navbar"></header>

<div class="container d-flex flex-column">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" th:action="@{/beers/new}" th:object="${beer}" method="POST">
                <div class="row">
                    <div class="col-md-2"><p>Name: </p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name"
                                   title="Enter new name if you want to change it"
                                   th:placeholder="${beer.name}" th:value="${beer.name}"
                                   name="name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="text-danger align-middle" th:if="${error_name != null}" th:text="${error_name}"></span>
                            <span class="text-danger align-middle" th:if="${error_name_exists != null}" th:text="${error_name_exists}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>ABV: </p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" step=".1" class="form-control" id="abv"
                                   title="Enter new ABV if you want to change it"
                                   th:placeholder="${beer.abv}" th:value="${beer.abv}"
                                   name="abv">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Style: </p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="selectpicker" data-live-search="true" name="style" id="style" th:field="*{style.id}">
                                <option value="0">Select style</option>
                                <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Brewery: </p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="selectpicker" data-live-search="true" name="brewery" id="brewery"  th:field="*{brewery.id}">
                                <option value="0">Select brewery</option>
                                <option th:each="brewery : ${breweries}" th:value="${brewery.id}"
                                        th:text="${brewery.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Country: </p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="selectpicker" data-live-search="true" name="country" id="country"  th:field="*{country.id}">
                                <option value="0">Select country</option>
                                <option th:each="country : ${countries}" th:value="${country.id}"
                                        th:text="${country.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p id="description_title">Description:</p>
                    <div class="col-md-12">
                        <div class="form-group">
                                <textarea class="form-control rounded-0" id="description" rows="10" th:field="*{description}"
                                          th:value="${beer.description}"
                                          th:text="${beer.description}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 justify-content-center">
                        <button class="btn btn-lg btn-success" type="submit">
                            Create
                        </button>
                        <p id="create_error"></p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/

    let username = /*[[${#authentication.name}]]*/ 'default';

    /*]]>*/
</script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
<script src="/js/beerCreate.js" type="text/javascript"></script>

</body>
</html>