<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
</head>

<body class="h-100">
<header th:insert="fragments :: navbar"></header>
<div id="container-x" class="container-fluid">
    <div id="container-y" class="container-fluid d-flex flex-column h-100">
        <div class="container-fluid">
            <div class="searchBar">
                <select class="selectpicker" title="Select tags" multiple data-live-search="true" name="tags-select" id="tags-select">
                    <option th:each="tag : ${tags}" th:value="${tag.id}+','+${tag.name}" th:text="${tag.name}"></option>
                </select>

                <select class="selectpicker" data-live-search="true" name="country" id="country">
                    <option value="">Select country</option>
                    <option th:each="country : ${countries}" th:value="${country.name}"
                            th:text="${country.name}"></option>
                </select>

                <select class="selectpicker" data-live-search="true" name="style" id="style">
                    <option value="">Select style</option>
                    <option th:each="style : ${styles}" th:value="${style.name}" th:text="${style.name}"></option>
                </select>

                <select name="orderBy" id="orderBy">
                    <option value="">Select order</option>
                    <option value="ra">Rating Ascending</option>
                    <option value="rd">Rating Descending</option>
                    <option value="aa">ABV Ascending</option>
                    <option value="ad">ABV Descending</option>
                    <option value="na">Name Ascending</option>
                    <option value="nd">Name Descending</option>
                </select>

                <input class="btn btn-primary" type="button" onclick="loadBeers()" value="Find"/>
                <input class="btn btn-primary" type="button" onclick="clearFilters()" value="Clear"/>
            </div>
        </div>

        <div class="container-fluid">
            <nav aria-label="Filter result pages">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </div>

        <div class="container-fluid d-flex flex-column">
            <div id="beer-container" class="beer-container h-100 d-flex flex-column flex-grow-1">
            </div>
        </div>

        <div class="container-fluid">
            <nav aria-label="Filter result pages">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </div>
    </div>
    <div class="spinner" id="spinner">
        <div class="loader">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width: 150px; height: 150px;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <p class="text-primary">Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>

<script src="/js/index.js" type="text/javascript"></script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
</body>
</html>