<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
</head>

<body class="h-100">

<header th:insert="fragments :: navbar"></header>

<div class="container h-100 d-flex flex-column">
    <form class="form-horizontal" th:action="@{/register}" th:object="${user}" method="POST" onsubmit="return checkPassword(this);">
        <div class="row top-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="username">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="email" id="username" name="username" placeholder="" class="form-control"
                               th:value="${user.username}" minlength="5" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${error_username != null}"
                          th:text="${error_username}"></span>
                    <span class="text-danger align-middle" th:if="${error_username_exists != null}"
                          th:text="${error_username_exists}"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" id="password" name="password" placeholder="" class="form-control"
                               minlength="8" maxlength="64" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback password-error">
                    <span class="text-danger align-middle" th:if="${error_password != null}"
                          th:text="${error_password}"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password_confirm">Confirm password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-repeat"></i></div>
                        <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                               class="form-control" minlength="8" maxlength="64" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback password-error">
                    <span class="text-danger align-middle" th:if="${error_password != null}"
                          th:text="${error_password}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-id-card"
                                                                                aria-hidden="true"></i></div>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name"
                               class="form-control" th:value="${user.firstName}"
                               minlength="3" maxlength="25" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${error_firstName != null}"
                          th:text="${error_firstName}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-id-card"
                                                                                aria-hidden="true"></i></div>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name"
                               class="form-control" th:value="${user.lastName}"
                               minlength="3" maxlength="25" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${error_lastName != null}"
                          th:text="${error_lastName}"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>

<footer th:insert="fragments :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="/js/register.js" type="text/javascript"></script>
</body>
</html>