<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/users.css"/>
</head>
<body>
<header th:insert="fragments :: navbar"></header>
<div class="container mt-4">
    <div th:if="${users.isEmpty()}">
        <h2 class="title" th:text="#{users.emptytitle}">No Users</h2>
        <h2 class="admin-portal text-white">
            <a href="/admin">
                <button type="button" class="btn m-2 text-center">
                    Back to Admin Portal
                </button>
            </a>
        </h2>
    </div>

    <div th:unless="${users.isEmpty()}">
        <h2 class="title" th:text="#{users.title}">Users</h2>
        <h2 class="admin-portal text-white">
            <a href="/admin">
                <button type="button" class="btn btn-info m-2 text-center">
                    Back to Admin Portal
                </button>
            </a>
        </h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" th:text="#{users.header.id}">ID</th>
                <th scope="col" th:text="#{users.header.firstName}">First Name</th>
                <th scope="col" th:text="#{users.header.lastName}">Last Name</th>
                <th scope="col" th:text="#{users.header.username}">Username</th>
                <th scope="col">Promote to Admin</th>
                <th scope="col">Modify</th>
                <th scope="col" sec:authorize="hasRole('SUPER_ADMIN')">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active" th:each="user : ${users}">
                <th th:text="${user.id}">1</th>
                <td th:text="${user.firstName}">Jpa</td>
                <td th:text="${user.lastName}">tets@test.test</td>
                <td th:text="${user.username}">tets@test.test</td>
                <td>
                    <div class="text-white">
                        <button type="button" th:id="${user.id}" class="btn btn-warning m-1 text-center" onclick="changeRole(this.id)">
                            Promote
                        </button>
                    </div>
                </td>
                <td>
                    <div class="text-white">
                        <a th:href="@{'/users/userprofile/' + ${user.id}}">
                            <button type="button" class="btn btn-info m-1 text-center">
                                Edit
                            </button>
                        </a>
                    </div>
                </td>
                <td sec:authorize="hasRole('SUPER_ADMIN')">
                    <div class="text-white">
                        <button type="button" th:id="${user.id}" class="btn btn-danger m-1 text-center" onclick="deleteUser(this.id)">
                            DELETE
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
<script src="/js/users.js" type="text/javascript"></script>
</body>
</html>