<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/userprofile.css"/>
</head>
<body>
<div th:insert="fragments :: navbar"></div>
<!--    <span th:text ="${#authentication.getPrincipal()}"></span>-->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <div th:if="${image != null}" id="profile-picture">
                    <img th:src="@{'data:image/png;base64,' + ${image}}" class="avatar img-thumbnail"
                         alt="avatar">
                </div>
                <div th:unless="${image != null}" id="default-picture">
                    <img src="/images/user_default_image.jpg"
                         class="avatar img-thumbnail" alt="avatar">
                </div>
                <div class="upload-content">
                    <div class="single-upload">
                        <form id="singleUploadForm" name="singleUploadForm">
                            <input id="singleFileUploadInput" type="file" name="file" class="file-input"
                                   required/>
                            <button type="submit" class="primary submit-btn">Submit</button>
                        </form>
                        <div class="upload-response">
                            <div id="singleFileUploadError"></div>
                            <div id="singleFileUploadSuccess"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <form class="form" id="userUpdateForm" name="userUpdateForm">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" id="first_name"
                               title="Enter new first name if you want to change it"
                               th:placeholder="${user.firstName}" th:value="${user.firstName}"
                               name="firstName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="middle_name"><h4>Middle name</h4></label>
                        <div>
                            <input type="text" class="form-control" id="middle_name"
                                   title="Enter your middle name if you want to change it"
                                   th:placeholder="${user.middleName}" th:value="${user.middleName}"
                                   name="middleName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" id="last_name"
                               title="Enter your last name if you want to change it"
                               th:placeholder="${user.lastName}" th:value="${user.lastName}"
                               name="lastName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="username"><h4>Username</h4></label>
                        <input type="text" class="form-control" id="username"
                               th:placeholder="${user.username}"
                               name="username" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit">Update
                        </button>
                        <button class="btn btn-lg" type="reset">Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4 text-center">
    <h1 class="">
        <i class="fa fa-star fa_custom"></i>
        <i class="fa fa-star fa_custom"></i>
        <i class="fa fa-star fa_custom"></i>
        MY FAVORITE BEERS
        <i class="fa fa-star fa_custom"></i>
        <i class="fa fa-star fa_custom"></i>
        <i class="fa fa-star fa_custom"></i>
    </h1>
    <div id="ratedBeers">

    </div>
</div>

<div class="container mt-4 text-center">
    <h1 class="">
        <i class="fa fa-heart-o fa_custom"></i>
        <i class="fa fa-heartbeat fa_custom"></i>
        <i class="fa fa-heart fa_custom"></i>
        LETS TAKE A BEER OR TWO
        <i class="fa fa-heart fa_custom"></i>
        <i class="fa fa-heartbeat fa_custom"></i>
        <i class="fa fa-heart-o fa_custom"></i>
    </h1>
    <div id="wishlist">

    </div>
</div>

<div th:insert="fragments :: footer" id="footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let userId = /*[[${user.id}]]*/ 'default';


    /*]]>*/
</script>
<script src="/js/userprofile.js" type="text/javascript"></script>
<script src="/js/generate.user.profile.url.js" type="text/javascript"></script>
</body>
</html>