img {
    /*max-width: 100%;*/
    max-height: 450px;
}

.row {
    margin-top: 20px;
}

#description {
    padding-right: 15px;
    padding-left: 15px;
}

.disabled_tags {
    border: 0px solid white !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
}

.badge-info {
    margin: 2px 3px !important;
}

.edit-button, .update-tags-button {
    width: 150px;
}

#rating_success {
    color: green;
}


/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}