#style {
    height: 30px;
}

.row {
    margin-top: 10px;
}

/*div[class^="col-"] {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/

#description {
    padding-right: 15px;
    padding-left: 15px;
}


.deleteBtn-container {
    margin-top: 50px;
}

img.beer-image.img-thumbnail {
    max-height: 450px;
}

.page-button {
    width: 150px;
}