img#logo {
    transform: rotate(-20deg);
    height: 75px;
}

nav.navbar.navbar-expand-xl.navbar-light.mt-3.ml-3.mr-3.display-4 {
    font-weight: bold;
    font-size: 30px;
}

ul.navbar-nav.mr-auto {
    width: 100%;
    overflow: auto;
}

.nav-item {
    float: left;
    padding: 10px;
    text-decoration: none;
    width: 20%;
    text-align: center;
}

a.nav-link.active {
    color: white;
}

@media screen and (max-width: 500px) {
   nav-item {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

.navbar {
    background-color: white;
    background-image: linear-gradient(white,#ffc107);
}
