.container-fluid {
   /*background-color: aqua;*/
    padding: 0px 100px;
}

.beer-container {
    margin: 10px 0px;
    min-height: 75vh;
}

#container-x{
    position: relative;
    display: inline-block;
    padding: 0px !important;
}

#container-y{
    padding: 0px !important;
}

#spinner{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
}

.beer-row {
    margin: 10px 0px;
}

.beer-holder{
    padding: 10px;
    /*border: 2px solid black;*/
    width: 100%;
    height: 100%;
    /*background-color: lawngreen;*/
}

.beer-holder:hover {
    /*background-color: green;*/
}

#tableTitle {
    margin-top: 0px;
    text-align: center;
    background-color: black;
    color: white;
}

.searchBar {
    text-align: center;
    margin: 15px;
    padding: 10px;
}

#country {
    height: 30px;
}

#style {
    height: 30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.loader{
    margin-top: 250px;
}

img.img-thumbnail {
    height: 250px;
}
