.container {
    margin-left: 100px;
    margin-right: 100px;
    background-color: aqua;
}

.pageHeader {
    background-color: red;
    height: 100px;
}

.userBar {
    display:table;
    background-color: blue;
    margin: 30px;
    float: right;
}
.navBarRow {
    display:table-row;
    text-align: center;
}
.navBarCell {
    display:table-cell;
    padding: 10px;
    width: 100px;
}

.searchBar {
    margin-left: 100px;
    margin-right: 100px;
    background-color: green;
    text-align: center;
    padding: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    float: left;
    background-color: black;
    color: white;
    margin: 15px;
    text-align: center;
}

.table {
    display:table;
}
.tableHeader {
    display:table-header-group;
    font-weight:bold;
}
.rowGroup {
    display:table-row-group;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
    width:10%;
}

#tableTitle {
    margin-top: 0px;
    text-align: center;
}