h2.title {
    float: left;
}

h2.admin-portal.text-white {
    float: right;
}

.navbar {
    background-color: white;
    background-image: linear-gradient(white,#17a2b8);
}

.btn{
    font-weight: bold;
    width: 100px;
}

.btn-info{
    background-color: #17a2b8 !important;
    width: 200px;
}

button.btn.btn-info.m-1.text-center{
    background-color: #17a2b8 !important;
    width: 100px;
}