#wrap {
    height: auto;
}

#main {
    overflow: auto;
    margin-bottom: 150px; /* this needs to be bigger than footer height*/
}

#footer {
    position: relative;
    clear: both;
    padding-top: 20px;
}

.text-center {
    height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

div#default-picture {
    height: 85%;
}

div#profile-picture {
    height: 85%;
}

img.avatar.img-thumbnail {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
}

.upload-content {
    height: 100%;
}

.fa_custom {
    color: #ffc107;
}

#ratedBeers {
    width: 100%;
    overflow: auto;
}

.beer-col {
    float: left;
    padding: 10px;
    text-decoration: none;
    width: 33%;
}

.beer-col-mark {
    float: left;
    padding: 10px;
    text-decoration: none;
    width: 33%;
}

img.img-thumbnail {
    height: 300px;
}

img.img-thumbnail.no-ratedbeers, img.img-thumbnail.no-markedbeers{
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}